
.clrd-font{
	background: #FF512F;
	background: -webkit-linear-gradient(to right, #F09819, #FF512F);
	background: linear-gradient(to right, #F09819, #FF512F);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.single_portfolio_text{
	display:inline-block;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 20px 0px;
	position:relative;
	overflow:hidden;
	/* background: #FF512F; */
}
.single_portfolio_text img{
	width:100%;
	height: 100%;
	border-radius: 4px;
}

.single_portfolio_text:hover .portfolio_images_overlay{
	top:5%;
	left: 5%;
}

.portfolio_images_overlay{
	width: 90%;
	height: 90%;
	background: rgba(0, 0, 0, 0.7);
	padding: 20px;
	margin: 0 auto;
	top: -100%;
	left: 5%;
	position: absolute;
	transition:.6s;
	border-radius: 4px;
	
}
.portfolio_images_overlay h6{
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	margin-top: 25px;
	border: 2px solid #fff;
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.zoom{
	width: 100px;
    height: 100px;
    position: absolute;
    bottom: -60px;
	right: -60px;
	left: 150px;
    border-radius: 50%;

	background: #FF512F;
	background: -webkit-linear-gradient(to right, #F09819, #FF512F);
	background: linear-gradient(to right, #F09819, #FF512F);
    box-shadow:0px 0px 0px 6px rgba(0,0,0,0.5);
	opacity:0.9;
}
.zoom:before {
	content: "\f00e";
    font-family: FontAwesome;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-right: 20px;
    position: absolute;
    top: 0px;
    left: 35px;
}

 @media (min-width:769px) and (max-width:991px) {
	.portfolio_images_overlay {
		padding: 0px;
	}
}
@media (max-width:768px) {
	.portfolio_images_overlay{
		padding: 10px 4px;
    }
    .portfolio_images_overlay h6{
        font-size: 18px;
    }
}


@media (max-width:580px) {
	.portfolio_images_overlay{
		padding: 100px 20px;
	}
	.portfolio_images_overlay h6{
		font-size: 15px;
	
	}
}
@media (max-width:480px) {
	.portfolio_images_overlay{
		padding: 30px 20px;
	}
	.portfolio_images_overlay h6{
		font-size: 16px
	}
}
@media (max-width:320px) {
	.portfolio_images_overlay{
		padding: 20px;
	}
	
}