/* Importamos las fuentes desde Google Fonts 'Damion' and 'Source Sans Pro'*/
@import url('https://fonts.googleapis.com/css?family=Damion|Source+Sans+Pro&display=swap');
/* Selector todo */
*
{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
body
{
    background: transparent !important;
}
/* outline:none; */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.nav-bg-transparent
{
    color: transparent;
}
.nav-color-first
{
    color: #ffffff;
}
.nav-color-second
{
    color: #37538C;
}
.nav-color-third
{
    color: #30497B;
}
.nav-color-fourth
{
    color: #30497b;
}
.nav-color-fifth
{
    color: #212F3C;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.nav-bg-transparent
{
    background: transparent;
}
.nav-bg-first
{
    background: #ffffff;
}
.nav-bg-second
{
    background: #37538C;
}
.nav-bg-third
{
    background: #30497B;
}
.nav-bg-fourth
{
    background: #30497b;
}
.nav-bg-fifth
{
    background: #212F3C;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.border-radius
{
    border-radius: 50px;
    padding: 5px 10px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Navbar animation */  
.navbar
{
    z-index: 5;
    /* background: rgba(110, 170, 135, 0.3); */
    /* border-bottom: 3px solid #30497B; */
}
.top-nav-collapse
{
    background: #212F3C;
}
.navbar button
{
    outline: none;
}
.navbar .navbar-brand
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}
.navbar .navbar-brand:hover
{
    color: #f3f3f3;
}
.navbar .navbar-nav .nav-item .nav-link
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 50px;
    padding: 5px 15px;
    margin: 0px 5px;
}
.navbar .navbar-nav .nav-item .nav-link:hover
{
    /* background-image: linear-gradient(to bottom, #30497b, #1fab62, #17a864, #0da566, #00a267); */
    background-image: linear-gradient(to top, #30497b, #394c80, #435085, #4c538a, #55568f);
    border-radius: 50px;
    padding: 5px 15px;
    color: #ffffff;
}
.navbar .navbar-brand,
.navbar .navbar-nav .nav-item .nav-link
{
    text-shadow: 2px 2px 3px #212f3c;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.banner
{
    width: 100%;
    height: 100vh;
}
.banner .banner-contents
{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .banner-container
{
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}
.banner .banner-contents .banner-title
{
    padding: 5px;
    width: 60%;
    margin: 0px 0px 5px 0px;
    border-radius: 5px;
    text-shadow: 3px 3px 5px #212f3c;
}
.banner .banner-contents .banner-title h1
{
    font-size: 120px;
    text-align: center;
    font-family: 'Damion', cursive;
}
.banner .banner-contents .banner-p
{
    padding: 5px;
    width: 60%;
    margin: 5px 0px 0px 0px;
    border-radius: 5px;
    text-shadow: 3px 3px 5px #212f3c;
}
.banner .banner-contents .banner-p p
{
    font-size: 40px;
    text-align: center;
    font-family: 'Damion', cursive;
}
.banner .banner-animations
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}
.banner .banner-img
{
    background-image: url('../img/Slider/playas.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
main
{
    background-image: url('../img/fondBody1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
section article
{
    padding: 75px 0px 25px 0px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
section article .panel-img
{
    height: 60vh;
}
section article .panel-img .img-panel
{
    height: 60vh;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #212F3C;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
section article .about-title
{
    width: 100%;
    padding: 0px;
}
section article .about-title .txt-h3
{
    background-image: linear-gradient(to top, #30497b, #394c80, #435085, #4c538a, #55568f);
    color: #ffffff;
    width: 60%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
section article .about-tabs .nav-tabs
{
    width: 100%;
    border: none;
    padding: 5px;
    justify-content: space-around;
}
section article .about-tabs .nav-tabs .nav-item .nav-link
{
    color: #212F3C;
    width: 100%;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 50px;
    font-weight: bold;
    border-radius: 50px;
    border-bottom: 3px solid #30497b;
}
section article .about-tabs .nav-tabs .nav-item .nav-link:hover
{
    background: #30497b;
    color: #ffffff;
    letter-spacing: 1px;
    border-bottom: 3px solid #212F3C;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
section article .about-tabs .card
{
    border: none;
}
section article .about-tabs .tabs-content .tab-pane p
{
    border: none;
    background: #30497b;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
section article .title-card
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
}
section article .title-card .txt-h1
{
    background-image: linear-gradient(to top, #30497b, #394c80, #435085, #4c538a, #55568f);
    color: #ffffff;
    width: 60%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
section article .section-cards
{
    width: 100%;
    height: 100vh;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
footer
{
    /* background: #212F3C; */
    background-image: linear-gradient(to bottom, #212f3c, #202e3b, #1f2d3a, #1e2c39, #1d2b38);
    padding: 50px 100px 0px 100px;
}
footer .footer-hr
{
    background: #30497b;
    padding: 0.5px;
    border-radius: 5px;
}
footer .footer-socials
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .footer-socials ul
{
    display: flex;
    list-style: none;
    padding: 0;
}
footer .footer-socials ul li
{
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}
footer .footer-socials ul li a
{
    color: #ffffff;
    text-decoration: none;
}
/* ------------------------------------ */
footer .footer-contact ul
{
    display: flex;
    padding: 0px;
    list-style: none;
    flex-direction: column;
}
footer .footer-contact ul li
{
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 2;
    padding: 0px 10px 0px 10px;
}
footer .footer-contact ul li a
{
    color: #ffffff;
    text-decoration: none;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (min-width: 600px) {
    .navbar.scrolling-navbar
    {
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        /* padding-top: 12px;
        padding-bottom: 12px; */
    }
    .navbar.scrolling-navbar .navbar-nav > li
    {
        transition-duration: 1s;
    }
    .navbar.scrolling-navbar.top-nav-collapse
    {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
/* Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar
    {
        background-color: #212F3C;
    }
}
/* Navbar on mobile */
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #212F3C !important;
  }
  .navbar .navbar-nav .nav-item .nav-link:hover
  {
      background-image: linear-gradient(to bottom, #30497b, #1fab62, #17a864, #0da566, #00a267);
      border-radius: 50px;
      padding: 5px 15px;
      color: #ffffff;
  }
}